*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: 'Raleway', sans-serif;
  --accent-font: 'STIX Two Text', serif;
}
