:root {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: tranparent;
  --main-font: 'Raleway', sans-serif;
  --accent-font: 'STIX Two Text', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.heading {
  font-family: var(--accent-font);
  font-weight: 600;
  line-height: 90%;
  letter-spacing: 0;
  text-align: center;
}

.header__menu {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.button__list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.header__theme-button {
  font-size: 18px;
  line-height: 104%;
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
  color: currentColor;
}

.header__theme-button_is-active {
  font-weight: 600;
  position: relative;
}

.header__theme-button_is-active::after {
  bottom: 0.25em;
  z-index: -1;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 0.4em;
  background-color: var(--accent-color);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
  bottom: 0.25em;
  z-index: -1;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 0.4em;
}

.header__theme-button:focus-visible,
a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.header__theme-button:hover,
a:hover {
  text-decoration: underline;
}

.content-section {
  padding: 0 5vi;
}

.header {
  padding-top: 10%;
}

.header__title {
  font-size: clamp(3.75rem, 2.6786rem + 5.3571vw, 7.5rem);
  margin-bottom: 40px;
}

.content__title {
  font-size: clamp(1.875rem, 1.875rem + 0vw, 1.875rem);
  padding: 7% 0 2.5% 0;
}

.content__text-block {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__paragraph a {
  color: inherit;
}

.content__quote {
  font-family: var(--main-font), sans-serif;
  inline-size: 75%;
  font-style: italic;
  line-height: 200%;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1.5em;
}

.content__list {
  list-style-type: none;
}

.list__item {
  padding-left: 40px;
  position: relative;
}

.list__item::before {
  position: absolute;
  left: 15px;
  top: 10px;
  content: '';
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.theme_dark .list__item::before {
  background-image: url(../images/marker-dark.svg);
}

.list__item:not(:last-child) {
  margin-bottom: 10px;
}

.content__text-block_type_first-lettered
  .content__paragraph:first-child:first-letter {
  font-size: 30px;
  letter-spacing: 30%;
  font-weight: 700;
  background-color: var(--accent-color);
  padding: 0 4px;
  margin-right: 1px;
  display: inline-block;
}

.theme_dark
  .content__text-block_type_first-lettered
  .content__paragraph:first-child:first-letter {
  border: 1px solid currentColor;
}

.content__figure {
  overflow: hidden;
  margin: 7% 0;
  position: relative;
  left: -5vi;
  inline-size: calc(100% + 10vi);
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid var(--text-color);
}

.content__card {
  aspect-ratio: 4 / 3;
  inline-size: 100%;
  block-size: 68vw;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.2em;
  inline-size: 100%;
  block-size: 0.25em;
  background-color: var(--accent-color);
  z-index: -1;
}

.theme_dark .colored-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.2em;
  inline-size: 100%;
  block-size: 0.25em;
  background-image: url(../images/pattern.svg);
  z-index: -1;
}

.footer {
  border-top: 1px solid var(--text-color);
  margin-top: 10%;
}

.footer__copyright {
  font-family: var(--accent-font);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
  padding: 2.5%;
}
