:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: 'Raleway', sans-serif;
  --accent-font: 'STIX Two Text', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.heading {
  font-family: var(--accent-font);
  font-weight: 600;
  line-height: 90%;
  letter-spacing: 0;
  text-align: center;
}

.content-section {
  padding: 0 5vi;
}

.header {
  padding-top: 10%;
}

.header__title {
  font-size: clamp(3.75rem, 2.6786rem + 5.3571vw, 7.5rem);
  margin-bottom: 40px;
}

.content__title {
  font-size: clamp(1.875rem, 1.875rem + 0vw, 1.875rem);
  padding: 7% 0 2.5% 0;
}

.content__text-block {
  font-size: 30px;
}

.content__text-block .content__paragraph:not(:last-child) {
margin-bottom: 1.5em;
}

.content__paragraph a {
  color: inherit
}